<div class="header-container">
    <div class="header-text">Its time for change! </div>
</div>

<form class="main-container-profile-edit" method="POST" action="/profile/edit">
    <div id="helper-div1-profile-edit">
        <div>
            <input class="input-field" name="first" type="text" placeholder="Frist Name" value="{{first}}" />
        </div>
        <div>
            <input class="input-field" name="last" type="text" placeholder="Last Name" value="{{last}}" />
        </div>
        <div>
            <input class="input-field" name="age" type="number" placeholder="Age" value="{{age}}" />
        </div>
        <div>
            <input class="input-field" name="city" type="text" placeholder="City" value="{{city}}" />
        </div>
    </div>
    <div id="helper-div2-profile-edit">
        <div>
            <input class="input-field" name="url" type="url" placeholder="Webpage" value="{{url}}" />
        </div>
        <div>
            <input class="input-field" name="email" type="text" placeholder="Emailaddress" value="{{email}}" />
        </div>
        <div>
            <input class="input-field" name="password" type="password" placeholder="Password" />
        </div>
        <div>
            <button class="submit-button-profile-edit">Submit</button>

        </div>
    </div>
    <div>
        {{>errorMessage}}
    </div>
</form>
</form>
<div class="button-container">
</div>