<form method="POST" action="/profile/edit">
    <div>
        <input name="first" type="text" placeholder="Frist Name" value="{{first}}" />
    </div>
    <div>
        <input name="last" type="text" placeholder="Last Name" value="{{last}}" />
    </div>
    <div>
        <input name="age" type="number" placeholder="Age" value="{{age}}" />
    </div>
    <div>
        <input name="city" type="text" placeholder="City" value="{{city}}" />
    </div>
    <div>
        <input name="url" type="url" placeholder="Webpage" value="{{url}}" />
    </div>
    <div>
        <input name="email" type="text" placeholder="Emailaddress" value="{{email}}" />
    </div>
    <div>
        <input name="password" type="text" placeholder="Password" />
    </div>
    <div>
        <button>Submit</button>

    </div>
    <div>
        {{>errorMessage}}
    </div>
</form>