<div class="header-container">
    <div class="header-text">List of Signatories{{#if city}}<div>from {{city}}</div>{{/if}}
    </div>
</div>

<div class="main-container signatories">
    {{#each signatories}}
        <div class="signatories">{{#if url}} <a class="webpage-link" href="{{this.url}}">{{this.first}} {{this.last}}</a>{{else}}{{this.first}} {{this.last}}{{/if}} ({{#if this.age}}{{this.age}}{{/if}}{{#if this.city}},<a class="signatories-by-city-link" href="/signatories/{{this.city}}">{{this.city}})</a>{{/if}}</div>
    {{/each}}
</div>

<div class="button-container">
    {{>errorMessage}}
</div>

